<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Africa Capital Quiz!︖</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <form action="/submit" method="POST">
        <div id="main-container">
            <div class="score-count">
                <h2>Total Score: <%=totalScore%> </h2>
            </div>

            <div class="country-display">
                <h1><%=country.country %></h1>
            </div>

            <div class="text-box">
                <input type="text" name="name" id="name" placeholder="Enter the capital..." autofocus autocomplete="off">
                <input type="hidden" name="id"  value="<%= country.id %>">
            </div>

            <button type="submit">Let's Go!</button>
        </div>
    </form>
</body>
</html>