*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("/images/background.jpg") no-repeat center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    width: 500px;      
    height: 350px; 
    padding: 20px;                     
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.country-display {
    text-align: center;
    font-size: 20px;
}

.text-box input {
    width: 200px;            
    padding: 10px;
    outline: none;
    display: block;
    margin: 0 auto;     
}

button {
    width: 100px;     
    padding: 10px;
    margin: 0 auto;     
}

/* Media Queries */
@media (max-width: 780px) {
    #main-container {
        width: 300px;         
        height: auto;
    }
    .text-box input {
        width: 100%;
        max-width: 180px;
    }
    button {
        width: 80px;
    }
}

