*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("/images/background.jpg") center/cover no-repeat;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 40%;
    height: 300px;
    margin: 15% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}

