*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body.home {
    background: url("/images/background.jpg") no-repeat center/cover;
    min-height: 100vh;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    width: 500px;      
    height: 350px; 
    padding: 20px;                     
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.country-display {
    text-align: center;
    font-size: 20px;
}

.text-box input {
    width: 200px;            
    padding: 10px;
    outline: none;
    display: block;
    margin: 0 auto;     
}

.checkmark {
    margin-left: 8px;
}

button {
    width: 100px;     
    padding: 10px;
    margin: 0 auto; 
    border-radius: 10px;
    cursor: pointer;
}

/* Restart Page */
body.restart {
    background: url('/images/peakpx.jpg') no-repeat center/cover;
    min-height: 100vh;
    animation: moveBackground 3s ease forwards;
    position: relative;
}

@keyframes moveBackground {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center center;
    }
}

.holder {
    font-family: "Press Start 2P", system-ui;
}

.btn {
    background: lightgreen;
    color: black;
    width: 120px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;             
    animation: fadeInButton 1s ease forwards;
    animation-delay: 3s;  

}

.btn:hover {
    background-color: brown;
    color: white;
}

@keyframes fadeInButton {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Media Queries */
@media (max-width: 780px) {
    #main-container {
        width: 300px;         
        height: auto;
    }
    .text-box input {
        width: 100%;
        max-width: 180px;
    }
    button {
        width: 80px;
    }

    body.restart {
        animation: moveBackground 5s ease forwards;
    }
    
    @keyframes moveBackground {
        0% {
            background-position: center top;
        }
        100% {
            background-position: center center;
        }
    }
}

